.diag {
  width: 100%;
  text-align: start;
}

.title {
  font-size: larger;
  background-color: #edecec;
}

#pheader {
  font-size: large;
  margin-left: 8%;
  padding: 1em;
}

.title h1 {
  padding: 10px;
  font-size: 30px;
  font-weight: 100;
  position: relative;
  left: 8%;
}

.gauges {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.gaugeselected {
  width: 10em;
  height: 13em;
  border-style: inset;
  border-color: #d6e6f1;
  background-color: #d6e6f1;
  margin: 0.5%;
}

.gauge {
  width: 10em;
  height: 13em;
  border-style: outset;
  color: black;
  margin: 0.5%;
}

.datavis {
  display: flex;
  flex-direction: row;
}

.areachart {
  margin-right: 18em;
}
